* {
  user-select: none;
  position: absolute;
  margin: 0;
  padding: 0;
}
    
body, div {
  overflow: hidden;
}

div {
  cursor: pointer;
}

img {
  height: 100%;
  width: auto;
  image-rendering: pixelated;
}

.vertically-animated {
  width: 100%;
  height: auto;
}

.pill {
  cursor: help;
  width: 57px;
  height: 57px;
}

#isaac-positioner {
  overflow: visible;
  
  width: 84px;
  height: 105px;
}

#isaac-scaler {
  top: 0px;
  left: 0px;
  
  width: 84px;
  height: 105px;
}

#head {
  top: 0px;
  left: 0px;
  
  width: 84px;
  height: 75px;
}

#body {
  left: 15px;
  top: 60px;
  
  width: 54px;
  height: 45px;
}

#body-east {
  left: 15px;
  top: 60px;
  
  width: 54px;
  height: 42px;
}

#head-hold {
  top: 0px;
  left: 0px;
  
  width: 84px;
  height: 75px;
}

#body-hold {
  top: 48px;
  left: 3px;
  
  width: 78px;
  height: 57px;
}

#body-east-hold {
  top: 48px;
  left: 3px;
  
  width: 78px;
  height: 54px;
}

.spawning {
  animation: 1s linear 0s 1 forwards spawn;
}

.grabbing {
  animation: 0.3s linear 0s 1 forwards grab;
}

.putting {
  animation: 0.1s linear 0s 2 alternate-reverse swallow;
}

.swallowing {
  animation: 0.1s linear 0s 1 forwards swallow;
}

@keyframes swallow {
  from {
    transform: translateY(25%)
               scale(200%, 50%);
  }
  to {
    transform: translateY(0%)
               scale(100%, 100%);
  }
}

@keyframes grab {
  0% {
    transform: translateY(0%)
               scale(100%, 100%);
  }
  25% {
    transform: translateY(25%)
               scale(200%, 50%);
  }
  50% {
    transform: translateY(-50%)
               scale(50%, 200%);
  }
  75% {
    transform: translateY(12.5%)
               scale(125%, 75%);
  }
  100% {
    transform: translateY(0%)
               scale(100%, 100%);
  }
}
