* {
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
    
body, div {
  overflow: hidden;
}

img {
  height: 100%;
  width: auto;
  image-rendering: pixelated;
}

.vertically-animated {
  width: 100%;
  height: auto;
}

.pill-positioner {
  overflow: visible;
  cursor: help;
  
  width: 57px;
  height: 57px;
}

#fake-pill-positioner {
  cursor: auto;
}

#isaac-positioner {
  overflow: visible;
  
  width: 84px;
  height: 105px;
}

#head {
  top: 0px;
  left: 0px;
  
  width: 84px;
  height: 75px;
}

#body {
  left: 15px;
  top: 60px;
  
  width: 54px;
  height: 45px;
}

#body-east {
  left: 15px;
  top: 60px;
  
  width: 54px;
  height: 42px;
}

#head-hold {
  top: 0px;
  left: 0px;
  
  width: 84px;
  height: 75px;
}

#body-hold {
  top: 48px;
  left: 3px;
  
  width: 78px;
  height: 57px;
}

#body-east-hold {
  top: 48px;
  left: 3px;
  
  width: 78px;
  height: 54px;
}

.spawning {
  animation: 1s linear 0s 1 forwards spawn;
}

.grabbing {
  animation: 0.1s linear 0s 1 forwards grab;
}

.putting {
  animation: 0.23s linear 0s 1 forwards put;
}

@keyframes grab {
  from {
    transform: translateY(12.5%)
               scale(125%, 75%);
  }
  to {
    transform: translateY(0%)
               scale(100%, 100%);
  }
}

@keyframes put {
  0% {
    transform: translateY(-12.5%)
               scale(75%, 125%);
  }
  20% {
    transform: translateY(0%)
               scale(100%, 100%);
  }
  40% {
    transform: translateY(5%)
               scale(110%, 90%);
  }
  100% {
    transform: translateY(0%)
               scale(100%, 100%);
  }
}

@keyframes spawn {
  0% {
    transform: scale(50%, 200%);
  }
  6.66% {
    transform: scale(100%, 100%);
  }
  10% {
    transform: scale(200%, 50%);
  }
  13.33% {
    transform: scale(100%, 100%);
  }
  /*frame 5*/ 16.66% {
    transform: scale(75%, 125%);
  }
  /*frame 7*/ 23.33% {
    transform: scale(100%, 100%);
  }
  /*frame 11*/ 36.66% {
    transform: scale(100%, 100%);
  }
  /*frame 12*/ 40% {
    transform: scale(100%, 100%);
  }
  /*frame 15*/ 50% {
    transform: scale(85%, 115%);
  }
  /*frame 17*/ 56.66% {
    transform: scale(50%, 150%);
  }
  /*frame 18*/ 60% {
    transform: scale(100%, 100%);
  }
  /*frame 19*/ 63.33% {
    transform: scale(150%, 50%);
  }
  /*frame 20*/ 66.66% {
    transform: scale(125%, 75%);
  }
  /*frame 21*/ 70% {
    transform: scale(85%, 115%);
  }
  /*frame 23*/ 76.66% {
    transform: scale(110%, 90%);
  }
  /*frame 25*/ 83.33% {
    transform: scale(100%, 100%);
  }
  /*frame 30*/ 100% {
    transform: scale(100%, 100%);
  }
}
