.target {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

img {
  width: 5px;
  height: 5px;
}

div {
  width: 5%;
  height: 5%
  left: 50%;
  top: 50%;
  background-color: #AAAAAA;
}
